# Ignore node_modules everywhere
**/node_modules/

# Dependencies
/.pnp
.pnp.js
/.pnp.*

# Testing
/coverage

# Production
/build
/dist

# Environment
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json